
html{font-size: 16px; color: #888; align:center; background-color: #fff;}
.container{ font-size: 120%; }
@media(min-width:900px){ 
    .container{ width: 900px; 
                margin: 0 auto;
                font-size: 100%;
    }
}

/* Add a black background color to the top navigation */
nav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 10px;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

nav a#facebook{
  float: right;
}

/* Make the logo full width */
nav img.banner{
  width: 100%;
}

nav img.fb-icon{
  width: 20px;
}

/* Truncated blog entry */
.entry-truncated{
  box-shadow: 0px 0px 3px 1px #ddd;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 80%;
}

.title-truncated{
  color: #333;
}
