<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<script src="{{  url_for('static', filename='js/wysihtml.toolbar.min.js') }}"></script>
	<script src="{{  url_for('static', filename='js/wysihtml.adv_ext.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="http://designmodo.github.io/Flat-UI/dist/css/vendor/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css">
	</style>
</head>
<body>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
