<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<script src="{{  url_for('static', filename='js/wysihtml.toolbar.min.js') }}"></script>
	<script src="{{  url_for('static', filename='js/wysihtml.adv_ext.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="http://designmodo.github.io/Flat-UI/dist/css/vendor/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://designmodo.github.io/Flat-UI/dist/css/flat-ui.min.css">
	</style>
</head>
<body>
	<div class="container">
	    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <a class="btn btn-info" href="/">Home</a>
          <a class="btn btn-info" href="/blog">Blog</a>
          <a class="btn btn-info" href="/about">About Us</a>
        </nav>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>
